<web-app>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.skillnext1.StudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

</web-app>
